@import "tailwindcss";

@keyframes scroll-left {
  /* 0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  } */
  from {
    transform: translate3d(0,0,0);
  }
  to {
    transform: translate3d(-50%,0,0);
  }
}

@keyframes scroll-right {
  from {
    transform: translate3d(-50%,0,0);
  }
  to {
    transform: translate3d(0,0,0);
  }
}

.scroll-left {
  animation: scroll-left 20s linear infinite;
}

.scroll-right {
  animation: scroll-right 40s linear infinite;
}

.scroll-left:hover,
.scroll-right:hover {
  animation-play-state: paused;
}